#tablaProvincias{
    max-width: 80%;
    text-align: left;
    font-size: smaller;
    margin: auto;
}

#listaProvincia{
  display: none;
}

#vistaUnica{
  display: none;
}

#map {
    width: 75%;
    height: 300px;
    margin: auto;
  }

#map2 {
    width: 75%;
    height: 300px;
    margin: auto;
  }

#map3 {
    width: 75%;
    height: 300px;
    margin: auto;
    }

#map4 {
  width: 75%;
  height: 300px;
  margin: auto;
  }